* { box-sizing: border-box; }

html {
  font-size: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.666;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgba(0,20,40,0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: '.SFUIDisplay-Medium', '.SFNSDisplay-Medium', -apple-system, BlinkMacSystemFont, 'SF UI Display', Roboto, 'Segoe UI', Helvetica Neue, sans-serif;
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
}

p { margin: 0; }
p + p { margin-top: 1.6rem; }

a {
  padding: 0.25em 0;
  text-decoration: none;
  color: currentColor;
  font-weight: 500;
  transition: 150ms ease;
  background-image: linear-gradient(transparent 50%, skyblue 50%);
  background-size: 100% 4px;
  background-repeat: repeat-x;
  background-position: bottom;
  cursor: pointer;
}

a:hover,
a:focus {
  background-image: linear-gradient(transparent 50%, powderblue 50%);
  background-size: 100% 3em;
 }

strong {
  font-weight: 600;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

@keyframes rotation {
  0% { opacity: 0.666; }
  50% { transform: scale(1.25) rotate(180deg); opacity: 0.151515; }
  100% { transform: scale(1) rotate(360deg); opacity: 1; }
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.151515; transform: scale(0.95) }
  100% { opacity: 1; }
}

.rotation {
  animation: rotation 60s linear infinite;
  transform-origin: 50% 50%;
}

.pulse {
  animation: pulse 6s ease infinite;
  transform-origin: 50% 50%;
}

.pulse:nth-child(1) { animation-delay: 0; }
.pulse:nth-child(2) { animation-delay: 1s; }
.pulse:nth-child(3) { animation-delay: 2s; }
.pulse:nth-child(4) { animation-delay: 3s; }
.pulse:nth-child(5) { animation-delay: 4s; }
.pulse:nth-child(6) { animation-delay: 5s; }
.pulse:nth-child(7) { animation-delay: 6s; }
.pulse:nth-child(8) { animation-delay: 7s; }
