* { box-sizing: border-box; }

html {
  font-size: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #111;
}

::selection { background-color: rgba(0,20,40,0.2); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: '.SFUIDisplay-Medium', '.SFNSDisplay-Medium', -apple-system, BlinkMacSystemFont, 'SF UI Display', Roboto, 'Segoe UI', Helvetica Neue, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p { margin: 0 }
p + p { margin-top: 1.6rem }

a {
  text-decoration: none;
  color: currentColor;
  font-weight: 500;
  transition: opacity 0.3s ease;
  background-image: linear-gradient(transparent 50%, hsla(204,50%,50%,0.75) 50%);
  background-size: 100% 3px;
  background-repeat: repeat-x;
  background-position: bottom;
  cursor: pointer;
}

a:hover, a:focus { opacity: 0.666 }

strong {
  font-weight: 600;
}
